#
# TÄHÄN TIEDOSTOON EI SAA TALLENTAA YMPÄRISTÖKOHTAISIA ARVOJA MUUTOIN KUIN MUUTTUJINA!!!
#
# Tämä tiedosto toimii pohjana oph-configuration/common.properties tiedostolle,
# joka asettaa sovelluksen ympäristökohtaiset arvot.
#

# Aseta vähintään nämä ympäristökohtaiset arvot
host.cas={{host_cas}}
host.ilb={{host_ilb}}
host.alb={{host_alb}}
host.virkailija={{host_virkailija}}
kela.ftp.username={{kela_ftp_username}}
kela.ftp.password={{kela_ftp_password}}
kela.ftp.parameters={{kela_ftp_parameters}}
kela.ftp.host={{kela_ftp_host}}
kela.ftp.port={{kela_ftp_port}}
kela.ftp.protocol={{kela_ftp_protocol}}
kela.ftp.path={{kela_ftp_path}}
valintalaskentakoostepalvelu.app.username.to.haku={{valintalaskentakoostepalvelu_app_username_to_haku}}
valintalaskentakoostepalvelu.app.password.to.haku={{valintalaskentakoostepalvelu_app_password_to_haku}}
valintalaskentakoostepalvelu.app.username.to.hakukohderyhmapalvelu={{valintalaskentakoostepalvelu_app_username_to_hakukohderyhmapalvelu}}
valintalaskentakoostepalvelu.app.password.to.hakukohderyhmapalvelu={{valintalaskentakoostepalvelu_app_password_to_hakukohderyhmapalvelu}}
valintalaskentakoostepalvelu.app.username.to.ataru={{valintalaskentakoostepalvelu_app_username_to_ataru}}
valintalaskentakoostepalvelu.app.password.to.ataru={{valintalaskentakoostepalvelu_app_password_to_ataru}}
valintalaskentakoostepalvelu.app.username.to.koodisto={{valintalaskentakoostepalvelu_app_username_to_koodisto}}
valintalaskentakoostepalvelu.app.password.to.koodisto={{valintalaskentakoostepalvelu_app_password_to_koodisto}}
valintalaskentakoostepalvelu.app.username.to.organisaatio={{valintalaskentakoostepalvelu_app_username_to_organisaatio}}
valintalaskentakoostepalvelu.app.password.to.organisaatio={{valintalaskentakoostepalvelu_app_password_to_organisaatio}}
valintalaskentakoostepalvelu.app.username.to.sijoittelu={{valintalaskentakoostepalvelu_app_username_to_sijoittelu}}
valintalaskentakoostepalvelu.app.password.to.sijoittelu={{valintalaskentakoostepalvelu_app_password_to_sijoittelu}}
valintalaskentakoostepalvelu.app.username.to.tarjonta={{valintalaskentakoostepalvelu_app_username_to_tarjonta}}
valintalaskentakoostepalvelu.app.password.to.tarjonta={{valintalaskentakoostepalvelu_app_password_to_tarjonta}}
valintalaskentakoostepalvelu.app.username.to.kouta-internal={{valintalaskentakoostepalvelu_app_username_to_kouta_internal}}
valintalaskentakoostepalvelu.app.password.to.kouta-internal={{valintalaskentakoostepalvelu_app_password_to_kouta_internal}}
valintalaskentakoostepalvelu.app.username.to.valintaperusteet={{valintalaskentakoostepalvelu_app_username_to_valintaperusteet}}
valintalaskentakoostepalvelu.app.password.to.valintaperusteet={{valintalaskentakoostepalvelu_app_password_to_valintaperusteet}}
valintalaskentakoostepalvelu.app.username.to.valintatieto={{valintalaskentakoostepalvelu_app_username_to_valintatieto}}
valintalaskentakoostepalvelu.app.password.to.valintatieto={{valintalaskentakoostepalvelu_app_password_to_valintatieto}}
valintalaskentakoostepalvelu.app.username.to.valinta-tulos-service={{valintalaskentakoostepalvelu_app_username_to_valinta_tulos_service}}
valintalaskentakoostepalvelu.app.password.to.valinta-tulos-service={{valintalaskentakoostepalvelu_app_password_to_valinta_tulos_service}}
valintalaskentakoostepalvelu.app.username.to.viestintapalvelu={{valintalaskentakoostepalvelu_app_username_to_viestintapalvelu}}
valintalaskentakoostepalvelu.app.password.to.viestintapalvelu={{valintalaskentakoostepalvelu_app_password_to_viestintapalvelu}}
valintalaskentakoostepalvelu.app.username.to.suoritusrekisteri={{valintalaskentakoostepalvelu_app_username_to_haku}}
valintalaskentakoostepalvelu.app.password.to.suoritusrekisteri={{valintalaskentakoostepalvelu_app_password_to_haku}}

# Oletusarvoja
cas.callback.valintalaskentakoostepalvelu=http://{{ cluster_valinta_host }}:{{ cluster_valinta_port }}/valintalaskentakoostepalvelu
cas.sendRenew=false
cas.service.seuranta=https://${host.virkailija}/seuranta-service/j_spring_cas_security_check
cas.service.haku-service=https://${host.virkailija}/haku-app/j_spring_cas_security_check
cas.service.sijoittelu-service=https://${host.virkailija}/sijoittelu-service/j_spring_cas_security_check
cas.service.ataru=https://${host.virkailija}/lomake-editori/auth/cas
cas.service.valintapiste-service=https://${host.virkailija}/valintapiste-service/auth/cas
cas.service.koodisto-service=https://${host.virkailija}/koodisto-service/j_spring_cas_security_check
cas.service.organisaatio-service=https://${host.virkailija}/organisaatio-service/j_spring_cas_security_check
cas.service.ryhmasahkoposti-service=https://${host.virkailija}/ryhmasahkoposti-service/j_spring_cas_security_check
cas.service.valintalaskentakoostepalvelu=https://${host.virkailija}/valintalaskentakoostepalvelu
cas.service.valintalaskenta-service=https://${host.virkailija}/valintalaskenta-laskenta-service/j_spring_cas_security_check
cas.service.oppijan-tunnistus=https://${host.virkailija}/oppijan-tunnistus/auth/cas
cas.service.valintaperusteet-service=https://${host.virkailija}/valintaperusteet-service/j_spring_cas_security_check
cas.service.viestintapalvelu=https://${host.virkailija}/viestintapalvelu/j_spring_cas_security_check
cas.service.suoritusrekisteri=https://${host.virkailija}/suoritusrekisteri/j_spring_cas_security_check
cas.service.authentication-service=https://${host.virkailija}/authentication-service/j_spring_cas_security_check
cas.service.oppijanumerorekisteri-service=https://${host.virkailija}/oppijanumerorekisteri-service/j_spring_cas_security_check
root.organisaatio.oid=1.2.246.562.10.00000000001
user.home.conf=${user.home}/oph-configuration
web.url.cas=https\://${host.cas}/cas
cas.service.key=valintalaskentakoostepalvelu

valintalaskentakoostepalvelu.jatkuvasijoittelu.cron=0+*/15+*+*+*+?
valintalaskentakoostepalvelu.viestintapalvelu.url=https://${host.virkailija}/viestintapalvelu
valintalaskentakoostepalvelu.tarjontaService.url=https://${host.virkailija}/tarjonta-service/services/tarjontaPublicService
valintalaskentakoostepalvelu.organisaatioService.url=https://${host.virkailija}/organisaatio-service/services/organisaatioService
valintalaskentakoostepalvelu.organisaatioService.rest.url=https://${host.virkailija}/organisaatio-service/rest
valintalaskentakoostepalvelu.tarjonta.rest.url=https://${host.virkailija}/tarjonta-service/rest
valintalaskentakoostepalvelu.hakemus.rest.url=https://${host.virkailija}/haku-app
valintalaskentakoostepalvelu.valintaperusteet-service.baseurl={{ valintalaskentakoostepalvelu_valintaperusteet_service_baseurl | default(host_ilb)}}
valintalaskentakoostepalvelu.valintalaskenta-laskenta-service.baseurl={{ valintalaskentakoostepalvelu_valintalaskenta_laskenta_service_baseurl | default(host_ilb)}}
valintalaskentakoostepalvelu.valintalaskenta.rest.url=${valintalaskentakoostepalvelu.valintalaskenta-laskenta-service.baseurl}/valintalaskenta-laskenta-service/resources
valintalaskentakoostepalvelu.koodiService.url=https://${host.virkailija}/koodisto-service/services/koodiService
valintalaskentakoostepalvelu.dokumenttipalvelu.rest.url=https://${host.virkailija}/valintalaskentakoostepalvelu/resources
valintalaskentakoostepalvelu.swagger.basepath=/valintalaskentakoostepalvelu/resources
valintalaskentakoostepalvelu.maxWorkerCount={{valintalaskentakoostepalvelu_maxWorkerCount}}
valintalaskentakoostepalvelu.laskennan.splittaus={{valintalaskentakoostepalvelu_laskennan_splittaus}}
valintalaskentakoostepalvelu.koski.baseurl={{valintalaskentakoostepalvelu_koski_baseurl | default("https://${host.virkailija}")}}
valintalaskentakoostepalvelu.laskenta.koskesta.haettavat.hakukohdeoidit={{valintalaskentakoostepalvelu_laskenta_koskesta_haettavat_hakukohdeoidit | default("none")}}
valintalaskentakoostepalvelu.laskenta.funktionimet.joille.haetaan.tiedot.koskesta={{valintalaskentakoostepalvelu_laskenta_funktionimet_joille_haetaan_tiedot_koskesta | default("HAEAMMATILLINENYTOARVOSANA,HAEAMMATILLINENYTOARVIOINTIASTEIKKO,ITEROIAMMATILLISETTUTKINNOT,ITEROIAMMATILLISETOSAT,ITEROIAMMATILLISETYTOOSAALUEET,HAEAMMATILLISENOSANLAAJUUS,HAEAMMATILLISENOSANARVOSANA,HAEAMMATILLISENYTOOSAALUEENLAAJUUS,HAEAMMATILLISENYTOOSAALUEENARVOSANA,HAEAMMATILLISENTUTKINNONKESKIARVO,HAEAMMATILLISENTUTKINNONSUORITUSTAPA")}}
valintalaskentakoostepalvelu.laskenta.opiskeluoikeustyypit.joille.haetaan.tiedot.koskesta={{valintalaskentakoostepalvelu_laskenta_opiskeluoikeustyypit_joille_haetaan_tiedot_koskesta | default("ammatillinenkoulutus") }}
valintalaskentakoostepalvelu.koski.username={{valintalaskentakoostepalvelu_koski_username | default("koostepalvelu2koski")}}
valintalaskentakoostepalvelu.koski.password={{valintalaskentakoostepalvelu_koski_password}}
valintalaskentakoostepalvelu.koski.max.oppijat.post.size={{valintalaskentakoostepalvelu_koski_max_oppijat_post_size | default("500")}}
valintalaskentakoostepalvelu.koski.max.query.workers={{valintalaskentakoostepalvelu_koski_max_query_workers | default("5")}}
valintalaskentakoostepalvelu.koski.massaluovutus.max.polls={{valintalaskentakoostepalvelu_koski_massaluovutus_max_polls | default("14")}}
valintalaskentakoostepalvelu.ohjausparametrit.cache.ttl.minutes=30
valintalaskentakoostepalvelu.ohjausparametrit.request.timeout.seconds=20
valintalaskentakoostepalvelu.tarjonta.sync.cron={{valintalaskentakoostepalvelu_tarjonta_sync_cron}}
valintalaskentakoostepalvelu.kirjeet.smallBatchMaxConcurrency={{ valintalaskentakoostepalvelu_kirjeet_small_batch_concurrency | default("6") }}
valintalaskentakoostepalvelu.kirjeet.bigBatchMaxConcurrency={{ valintalaskentakoostepalvelu_kirjeet_big_batch_concurrency | default("1") }}
valintalaskentakoostepalvelu.kirjeet.polling.interval.millis=10000
valintalaskentakoostepalvelu.kirjeet.syotettavatArvotThreadpoolMaxSize={{ valintalaskentakoostepalvelu_kirjeet_syotettavat_arvot_threadpool_max_size | default("2") }}
valintalaskentakoostepalvelu.global.http.connectionTimeoutMillis={{valintalaskentakoostepalvelu_global_http_connectiontimeoutmillis}}
valintalaskentakoostepalvelu.global.http.receiveTimeoutMillis={{valintalaskentakoostepalvelu_global_http_receivetimeoutmillis}}
valintalaskentakoostepalvelu.hakuimport.threadpoolsize={{ valintalaskentakoostepalvelu_hakuimport_threadpoolsize | default("10") }}
valintalaskentakoostepalvelu.hakukohdeimport.threadpoolsize={{ valintalaskentakoostepalvelu_hakukohdeimport_threadpoolsize | default("10") }}
# Päivämäärä, josta lähtien abien pohjakoulutus päätellään suoritusrekisteristä löytyvien lukiosuoritusten perusteella
valintalaskentakoostepalvelu.abi.pohjakoulutus.paattely.leikkuripvm={{ valintalaskentakoostepalvelu_pohjakoulutus_paattely_leikkuripvm | default('2020-06-01') }}

valintalaskentakoostepalvelu.harkinnanvaraisuus.paattely.leikkuripvm={{ suoritusrekisteri_koski_deadline_date | default('2022-06-06') }}

#SEURANTA
valintalaskentakoostepalvelu.seuranta.rest.url=https://${host.virkailija}/seuranta-service/resources

#ORGANISAATIO
valintalaskentakoostepalvelu.organisaatio-service-url=https://${host.virkailija}/organisaatio-service

#KELARESURSSI:
valintalaskentakoostepalvelu.rajapinnat.kela-service.rest.url=https://${host.virkailija}/kela-service/resources/

#SECURELINK:
host.haku={{host_haku}}
host.haku.sv={{host_haku_sv}}
host.haku.en={{host_haku_en}}
url-haku=https://${host.haku}
url-haku-en=https://${host.haku.en}
url-haku-sv=https://${host.haku.sv}
omatsivut.email.application.modify.link.en=${url-haku-en}/omatsivut/tuloskirjeet/
omatsivut.email.application.modify.link.fi=${url-haku}/omatsivut/tuloskirjeet/
omatsivut.email.application.modify.link.sv=${url-haku-sv}/omatsivut/tuloskirjeet/

aws.region={{aws_region}}
aws.bucket.name={{dokumenttipalvelu_aws_bucket_name}}

valintalaskentakoostepalvelu.postgresql.url=jdbc:postgresql://{{host_postgresql_valintalaskentakoostepalvelu}}:{{port_postgresql}}/valintalaskentakoostepalvelu
valintalaskentakoostepalvelu.postgresql.username={{postgres_app_user}}
valintalaskentakoostepalvelu.postgresql.password={{host_postgresql_valintalaskentakoostepalvelu_app_password}}
valintalaskentakoostepalvelu.postgresql.maxactive={{host_postgresql_valintalaskentakoostepalvelu_max_active}}
valintalaskentakoostepalvelu.postgresql.maxwait={{host_postgresql_valintalaskentakoostepalvelu_max_wait}}
valintalaskentakoostepalvelu.postgresql.driver=org.postgresql.Driver
